 /**********************************************************************
 * Titres
 *********************************************************************/
.learn-title {
    -fx-font-size: 84px;
    -fx-text-fill: #FF1493;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.sous-title {
    -fx-font-size: 48px;
    -fx-text-fill: #FF1493; 
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}